
body {background-color:black;font-family:arial;color:white;align-items: center;}
h1{color:grey;font-family:verdana;align-items: left;margin-left: -100px;}
.maindiv{
  margin: auto;
  
  background-color: white  ;
  color: black;
  width: 500px;
  padding: 20px;
  padding-left: 120px;
  padding-right: 00px;
  border-radius: 25px;
  
}

footer{margin-left: -100px;}